@media all and (min-width: 320px)
  .events__caption-wrapper.triangle.events__triangle
    &::before
      display: none
  .events
    &__wrapper
      display: grid
      grid-gap: 160px
      grid-template: repeat(2, auto) / 1fr
      margin: 0 6.66%
    &__container
      display: flex
      &:first-child
        justify-content: flex-start
      &:last-child
        justify-content: flex-end
      > *
        max-width: 300px
    &_size
      > *
        max-width: 270px
    &__orange-circle
      &::before
        top: -9px
        left: -66px
    &__triangle
      --rotate-state: 339deg
      &::before
        top: 66px
        left: -110px
        transform: rotate(var(--rotate-state))
        transition: transform 1s ease
    &__line-circle
      &::after
        top: 503px
        height: 220px
        bottom: 0
        margin: auto
        left: -210px
        right: 0
@media all and (min-width: 375px)
  .events
    &__line-circle
      &::after
        left: -227px
        top: 467px
@media all and (min-width: 440px) and (max-width: 767px)
  .events
    &__line-circle
      &::after
        margin: auto auto auto 0
        left: 16vw
@media all and (min-width: 560px)
  .events
    &__line-circle
      &::after
        left: 23vw
@media all and (min-width: 590px)
  .events
    &__container
      > *
        width: 70%
        max-width: 430px
    &__line-circle
      &::after
        left: 31%
@media all and (min-width: 768px)
  .events__container.triangle.events__triangle
    &::before
      display: none
  .events__caption-wrapper.triangle.events__triangle
    &::before
      display: block
  .events
    &__wrapper
      grid-gap: 30px
    &_padding
      padding-left: 60px
    &__orange-circle
      &::before
        top: 39px
        left: 48px
    &__triangle
      --rotate-state: 0deg
      --pos-left: 0
      &::before
        top: -9px
        left: -27px
        transform: rotate(var(--rotate-state)) translateX(var(--pos-left))
    &__line-circle
      &::after
        left: 0
        top: 510px
        height: 248px
@media all and (min-width: 1024px)
  .events
    &__wrapper
      max-width: 966px
      margin: auto
    &__container
      > *
        max-width: 530px
    &_padding
      padding-left: 85px
    &__line-circle
      &::after
        left: 80px
@media all and (min-width: 1160px)
  .events
    &__wrapper
      max-width: 1125px